.nav{
    display: flex;
    justify-content: space-around;
}
.btn{
    background-color: #e4e2de;
    color: #ecebe6;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
}
.button{
    background-color: #ecebe6;
    color: #096f56;
    padding: 10px 15px;
    border-color: #096f56;
    font-size: 26px;
    cursor: pointer;
    border-radius: 10px;
}
.green{
    background-color: #006a50;
    color: white;
}
.header-container{
    background-color: #c6e4d6;
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    margin: 20px;
}
.text-container{
    justify-content: left;
    margin: 50px 20px;
    
}
.Bangladesh{
    color: #84978e;
}
.bold{
    font-weight: bold;
}
.card{
    padding: 10px;
    border-radius: 10px;
}
.the-Vision{
    background-color: #f5f5f5;
}
.the-Vision{
    margin: 20px;
    padding: 20px;
}
.card-container{
    display: flex;
    gap: 10px;
    justify-content:stretch;
}

.card1{
    background-color: #d5e1f5;
}
.card2{
    background-color:#c6e4d6;
}
.card3{
    background-color:#f7ebcf;
}
.card-btn1{
    background-color: #5490f5;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}
.card-btn2{
    background-color: #09a15c;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}
.card-btn3{
    background-color: #ffc239;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.recent-news-childs{
    display: flex;
    background-color: #ffffff;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    gap: 10px;
}
.news-btn{
    background-color: #006a50; 
}
.time{
    display: flex;
}
.donat-bangladesh{
    text-align: center;
    margin: 30px 20px 20px 20px;
}
.btn-tk-all{
    gap: 20px;
    background-color: #ffffff;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    padding: 10px 20px;
    font-size: 25px;
    cursor: pointer;  
    
}